html {
  text-align: center;
  font-family: Helvetica;
  background-color: White;
}

.header {
  color: White;
  background-image: url("../images/the-flatiron-building.png");
}

.header h1 {
  font-size: 70px;
  font-weight: bold;
}

.topNav {
  font-size: 18px;
}

.header a {
  color: White;
  font-weight: bold;
}

.processInfo h1 {
  font-size: 32px;
  font-weight: bold;
}

.companyInfo h1,
.processInfo h2 {
  font-size: 23px;
  font-weight: bold;
}

.companyInfo p,
.processInfo p {
  font-size: 14px;
}

.subheader h1 {
  background-image: url("../images/the-flatiron-building.png");
  font-size: 23px;
  font-weight: bold;
  color: White;
}

.footer {
  text-align: left;
  background-color: dimgray;
  color: White;
}

.footer .bottomNav {
  font-size: 18px;
}

.footer .copyright {
  font-size: 11px;
}

.footer a {
  color: White;
}
